name: Nest Auth JWT Todo List Deployment - V1

on:
        push:
                branches:
                        - main

jobs:
        deploy:
                runs-on: ubuntu-latest

                steps:
                        - name: Install sshpass
                          run: sudo apt-get install -y sshpass

                        - name: Checkout code
                          uses: actions/checkout@v2

                        - name: Upload code to VM using password
                          env:
                                  VM_PASSWORD: ${{ secrets.VM_PASSWORD }}
                          run: |
                                  sshpass -p "$VM_PASSWORD" scp -o StrictHostKeyChecking=no -r ./* ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }}:/home/my-project/nest-auth-jwt-todo-list

                        - name: Deploy on VM using password
                          env:
                                  VM_PASSWORD: ${{ secrets.VM_PASSWORD }}
                                  VM_HOST: ${{ secrets.VM_HOST }}
                                  VM_USER: ${{ secrets.VM_USER }}
                                  APP_TODO_LIST_PORT: ${{ secrets.APP_TODO_LIST_PORT }}
                                  APP_TODO_LIST_DATABASE_HOST: ${{ secrets.APP_TODO_LIST_DATABASE_HOST }}
                                  APP_TODO_LIST_DATABASE_PORT: ${{ secrets.APP_TODO_LIST_DATABASE_PORT }}
                                  APP_TODO_LIST_DATABASE_USERNAME: ${{ secrets.APP_TODO_LIST_DATABASE_USERNAME }}
                                  APP_TODO_LIST_DATABASE_PASSWORD: ${{ secrets.APP_TODO_LIST_DATABASE_PASSWORD }}
                                  APP_TODO_LIST_DATABASE_NAME: ${{ secrets.APP_TODO_LIST_DATABASE_NAME }}
                                  APP_TODO_LIST_DATABASE_SYNCHRONIZE: ${{ secrets.APP_TODO_LIST_DATABASE_SYNCHRONIZE }}

                          run: |
                                  sshpass -p "$VM_PASSWORD" ssh -o StrictHostKeyChecking=no $VM_USER@$VM_HOST <<EOF
                                    cd /home/my-project/nest-auth-jwt-todo-list

                                    function update_env_var {
                                      local key="\$1"
                                      local value="\$2"
                                      if [ ! -f .env ]; then
                                        touch .env
                                      fi

                                      sed -i "/^\${key}=.*/d" .env
                                      echo "\${key}=\${value}" >> .env
                                    }

                                    update_env_var "APP_TODO_LIST_PORT" "${APP_TODO_LIST_PORT}"
                                    update_env_var "APP_TODO_LIST_DATABASE_HOST" "${APP_TODO_LIST_DATABASE_HOST}"
                                    update_env_var "APP_TODO_LIST_DATABASE_PORT" "${APP_TODO_LIST_DATABASE_PORT}"
                                    update_env_var "APP_TODO_LIST_DATABASE_USERNAME" "${APP_TODO_LIST_DATABASE_USERNAME}"
                                    update_env_var "APP_TODO_LIST_DATABASE_PASSWORD" "${APP_TODO_LIST_DATABASE_PASSWORD}"
                                    update_env_var "APP_TODO_LIST_DATABASE_NAME" "${APP_TODO_LIST_DATABASE_NAME}"
                                    update_env_var "APP_TODO_LIST_DATABASE_SYNCHRONIZE" "${APP_TODO_LIST_DATABASE_SYNCHRONIZE}"

                                    sudo chmod 600 .env

                                    echo "$VM_PASSWORD" | sudo -S docker compose down --rmi all
                                    echo "$VM_PASSWORD" | sudo -S docker compose up --build -d
                                  EOF
